/*========= common ===========*/
/*========= code less ===========*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
    background: #f5f5f5;
}
li { list-style: none;}
a, button, input{ font-family: "microsoft yahei", Arial, Helvetica, sans-serif; outline: none;}

/****-新版南沙区无线城市web版-begin-****/
.ns_banner{
    background: url("../images/nsimgs/banner_web.jpg") top center no-repeat;
    height: 320px;
    margin-bottom: 12px;
}
.ns_wrapper{
    width: 1002px;
    margin: 0 auto;
}
.ns_notice{
    border: 1px solid #bed6ef;
    position: relative;
    background: #fff;
}
.ns_notice span{
    position: absolute;
    top: -1px;
    left: -1px;
    background: #418ce6;
    width: 96px;
    height: 32px;
    line-height: 32px;
    color: #fff;
}
.ns_notice span i{
    background: url("../images/nsimgs/ns_sprites.png") 0 0 no-repeat;
    width: 20px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 10px 0 15px;
}
.ns_notice p{
    font-size: 14px;
    line-height: 25px;
    color: #444;
    padding: 40px 20px 10px;
    text-indent: 32px;
}
.ns_dw{ height: 100px;}
.ns_authen{
    margin-top: 10px;
    overflow: hidden;
}
.ns_authen h3{
    font-size: 18px;
    font-weight: bold;
    background: url("../images/nsimgs/bg_shadow.jpg") top center no-repeat;
    height: 67px;
    line-height: 67px;
    text-align: center;
}
.ns_authen h4{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
.ns_authen p, .ns_app li{
    line-height: 25px;
    color: #555;
    font-size: 14px;
    font-weight: bold;
}
.ns_app, .ns_admin, .ns_yjsw{
    float: left;
    border: 1px solid #eaeaea;
    height: 284px;
    background: #fff;
    width: 300px;
}
.ns_app .ns_box, .ns_admin .ns_box, .ns_yjsw .ns_box{ padding-top: 26px;}
.ns_app{
    width: 365px;
    margin-right: 16px;
}
.ns_app h4{ color: #e39b00;}
.ns_app .ns_box{
    width: 284px;
    margin: 0 auto;
}
.ns_app a{
    width: 248px;
    height: 40px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    transition: background 0.2s ease-in;

    background: #e3a91c;
    border-radius: 20px;
    border-bottom: 3px solid #cb9719;
}
.ns_app a:hover{ background: #f7b81e;}
.ns_app a span{ font-size: 12px;}
.ns_app li{
    background: url("../images/nsimgs/ns_sprites.png") 0 -15px no-repeat;
    text-indent: 15px;
}
.ns_admin .ns_box{
    width: 230px;
    margin: 0 auto;
}
.ns_group{
    border: 1px solid #eaeaea;
    width: 228px;
    height: 28px;
    line-height: 28px;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}
.ns_group label{
    font-size: 14px;
    font-weight: bold;
    color: #a0a0a0;
    padding-left: 5px;
    width: 50px;
    float: left;
}
.ns_group .ns_txt, .ns_group .ns_pwd{
    outline: none;
    height: 28px;
    width: 165px;
    border: none;
    background: none;
    float: left;
}
.ns_group .ns_pwd{
    width: 120px;
}
.ns_group button{
    float: right;
    width: 48px;
    height: 28px;
    background: #acbdd1;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease-in;
}
.ns_group button:hover{ background: #429fff;}
.ns_yjsw{ float: right;}
.ns_yjsw h4{ color: #2d90ff;}
.ns_yjsw .ns_box{
    width: 220px;
    margin: 0 auto;
}
.ns_yjsw button{
    width: 220px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s ease;

    background: #2d90ff;
    border-radius: 20px;
    border-bottom: 3px solid #267bda;
}
.ns_yjsw button:hover{ background: #429fff;}
.ns_ad{ margin-top: 10px;}
.ns_footer{
    margin-top: 60px;
    height: 143px;
    background: #fff;
    text-align: center;
}
.ns_footer div{ padding-top: 30px;}
.ns_footer p{
    font-size: 14px;
    color: #555;
    line-height: 24px;
}
.ns_dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -250px;
    width: 500px;
    background: #fff;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3);
    padding: 30px 20px;
    text-align: center;
    border: 1px solid #e0e0e0;
    display: none;
}
.ns_dialog button{
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #2d90ff;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}
/****-新版南沙区无线城市web版-end-****/

.ipubtn {
  background: #1bbc9b;
  width: 74px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.ipubtnNo {
  background: #1bbc9b;
  width: 74px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #f5f5f5;
  color: #999;
  cursor: not-allowed;
}
.ipubtn:hover {
  background: #29af91;
}
.nsWireless {
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 55px;
  overflow: hidden;
}
.nsWireless .nsLoginMo {
  background: #fff;
  width: 1000px;
}
.nsWireless .nsLoginMo .nsLogo {
  background: url("../images/nsimgs/nslogo.jpg") no-repeat;
  height: 124px;
  position: relative;
}
.nsWireless .nsLoginMo .nsLogo #yjsw {
  position: absolute;
  top: 27px;
  right: 28px;
  background: url("../images/nsimgs/nsyjsw00.png") 0 0 no-repeat;
  text-indent: -9999px;
  width: 262px;
  height: 68px;
}
.nsWireless .nsLoginMo .nsLogo #yjsw:hover {
  background-position: 0 -68px;
}
.nsWireless .nsLoginMo .nsLogo ul {
  position: absolute;
  top: 28px;
  right: 28px;
  display: none;
}
.nsWireless .nsLoginMo .nsLogo ul li {
  float: left;
  color: #fff;
  height: 66px;
  line-height: 66px;
  margin-left: 24px;
}
.nsWireless .nsLoginMo .nsLogo ul li.nsadr {
  border-right: 1px solid #6bdcc5;
  background: url("../images/nsimgs/ns00.png") 0 20px no-repeat;
  text-indent: 25px;
  width: 140px;
}
.nsWireless .nsLoginMo .nsLogo ul li span {
  font-size: 28px;
  line-height: 56px;
}
.nsWireless .nsLoginMo .nsLogo ul li a {
  color: #fff;
}
.nsWireless .nsNews {
  background: #fff;
  padding: 40px;
}
.nsWireless .nsNews .nsNewsHeader {
  height: 54px;
  border-bottom: 1px solid #e9e9e9;
  font-size: 16px;
}
.nsWireless .nsNews .nsNewsHeader .nsLeft {
  font-size: 24px;
  color: #1bbc9b;
  border-bottom: 1px solid #1bbc9b;
  float: left;
  line-height: 54px;
  font-weight: bold;
}
.nsWireless .nsNews .nsNewsHeader .nsRight {
  float: right;
  line-height: 54px;
}
.nsWireless .nsNews .nsNewsHeader .nsRight button {
    font-size: 16px;
    border: none;
    outline: none;
  margin-left: 10px;
}
.nsWireless .nsNews .nsContent {
  padding: 0 110px;
}
.nsWireless .nsNews .nsContent h2 {
  width: 410px;
  margin: 60px 0 45px;
  display: none;
}
.nsWireless .nsNews .nsContent p {
  font-size: 14px;
  line-height: 36px;
}
.nsWireless .nsNews .nsContent p.nsTextM {
  margin-bottom: 30px;
  display: none;
}
.nsWireless .nsNews .nsContent p.nsTextR {
  color: #666;
  text-align: right;
}
.nsfooter {
  text-align: center;
  font-size: 14px;
  color: #999;
  padding-bottom: 50px;
}
.nsfooter p {
  line-height: 24px;
}
.horizon {
  margin-bottom: 180px;
}
.horizon .nsLoginMo {
  width: 310px;
  float: left;
}
.horizon .nsLoginMo .nsLogo {
  background: url("../images/nsimgs/nslogo_s.jpg") no-repeat;
  height: 140px;
  border-right: 1px solid #e9e9e9;
}
.horizon .nsLogin{ border-right: 1px solid #e9e9e9;}
.horizon .nsLoginMo .nslgn {
  padding: 40px 0 30px 24px;
  overflow: hidden;
}
.horizon .nsLoginMo .nslgn h3 {
  font-size: 20px;
  color: #333;
}
.horizon .nsLoginMo .nslgn .nsLong,
.horizon .nsLoginMo .nslgn .nsShort {
  width: 260px;
  height: 40px;
  line-height: 40px\9;
  background: #e9e9e9;
  border: 1px solid #e9e9e9;
  font-size: 16px;
  font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
  text-indent: 15px;
  outline: none;
  margin-top: 20px;
  *text-indent: 0 !important;
}
.horizon .nsLoginMo .nslgn .nsShort {
  width: 150px;
  margin-top: 16px;
  margin-right: 4px;
  *float: left !important;
}
.horizon .nsLoginMo .nslgn .yzmcss {
  width: 260px;
  height: 40px;
  line-height: 40px\9;
  background: #e9e9e9;
  border: 1px solid #e9e9e9;
  font-size: 16px;
  font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
  text-indent: 15px;
  color: #fff;
  background: #c0c0c0;
  width: 102px;
  text-indent: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  height: 42px;
  line-height: 42px;
  border: none;
  display: inline-block;
  text-align: center;
  cursor: default;
  *float: left !important;
  *margin: 16px 0 0 4px !important;
}
.horizon .nsLoginMo .nslgn .yzmcss:hover {
  background: #29af91;
}
.horizon .nsLoginMo .nslgn .on:hover {
  background: #c0c0c0;
}
.horizon .nsLoginMo .nslgn #nsSub {
  background: #1bbc9b;
  width: 74px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 262px;
  height: 42px;
  line-height: 42px;
  border: none;
  font-size: 20px;
  margin-top: 24px;
}
.horizon .nsLoginMo .nslgn #nsSub:hover {
  background: #29af91;
}
.horizon .nsLoginMo .nslgn #yjsw {
  background: url("../images/nsimgs/nsyjsw00.png") no-repeat;
  width: 262px;
  height: 68px;
  border: none;
  text-indent: -9999px;
  cursor: pointer;
  float: left;
}
.horizon .nsLoginMo .nslgn #yjsw:hover {
  background-position: 0 -68px;
}
.horizon .nsLoginMo .nslgn .errMsg {
  display: block;
  color: #cc0000;
  text-indent: 15px;
  padding: 5px 0;
  height: 21px;
}
.horizon .nsLoginMo .nsadm {
  background: #fff;
  border-right: 1px solid #e9e9e9;
  display: none;
}
.horizon .nsLoginMo .nsadm .admbox {
  margin: 0 24px;
  border-bottom: 1px dashed #e9e9e9;
  position: relative;
}
.horizon .nsLoginMo .nsadm .admbox div {
  text-align: center;
}
.horizon .nsLoginMo .nsadm .admbox div img {
  width: 106px;
  height: 106px;
  padding: 60px 0 20px;
}
.horizon .nsLoginMo .nsadm .admbox p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
  position: relative;
}
.horizon .nsLoginMo .nsadm .admbox p .logout {
  font-size: 14px;
  color: #ababab;
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 3px;
}
.horizon .nsLoginMo .nsadm .admbox p .logout:hover {
  color: #1bbc9b;
}
.horizon .nsLoginMo .nsadm .admtime {
  padding: 35px 0 60px 24px;
  color: #999;
}
.horizon .nsLoginMo .nsadm .admtime span {
  font-size: 28px;
  color: #1bbc9b;
}
.horizon .nsLoginMo .nsadm .admtime i {
  display: block;
  float: left;
  width: 3px;
  height: 15px;
  background: #1bbc9b;
  margin-top: 17px;
  margin-right: 10px;
}
.horizon .nsNews {
  float: left;
  width: 610px;
}
.horizon .nsNews .nsContent {
  padding: 0;
}
.nsload{
    border-top: 1px dashed #0c9aba;
    margin: 0 24px;
    position: relative;
    overflow: hidden;
}
.nsload img{
    padding: 14px 14px 14px 0;
    float: left;
}
.nsload h4{
    font-size: 20px;
    color: #333;
    font-weight: normal;
    margin: 23px 0 5px;
}
.nsload p{
    font-size: 14px;
    color: #666;
}
.nsload a{
    background: url("../images/nsimgs/downloadAppWeb.png") no-repeat;
    width: 26px;
    height: 44px;
    display: block;
    text-indent: -9999px;
    position: absolute;
    right: 0;
    top: 28px;
}