/*========= common ===========*/
/*========= code less ===========*/
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
    font-family: "microsoft yahei","proxima-nova","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #333;
  font-size: 1.4rem;
    background: #fff;
}
html, body{ width: 100%; height:100%;}
a,
button,
input,
select {
  -webkit-tap-highlight-color: transparent;
    font-family: "microsoft yahei","proxima-nova","Helvetica Neue","Helvetica","Arial",sans-serif;
    outline: none;
}
a{ text-decoration: none;}
button, input{ border: none;}
input::-webkit-input-placeholder{ color: #d1edef;}
ul,li{ list-style: none;}
input::-webkit-input-placeholder{
    color: #9b9e9f;
}

/* 新版南沙区无线城市-begin- */
.ns_header{
    position: relative;
    margin-bottom: 15px;
}
.ns_header button{
    background: url("../images/nsimgs/btn.png") 0 0 no-repeat;
    width: 72px;
    height: 72px;
    background-size: 72px;
    color: #fff;
    font-size: 1.4rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -36px;
}
.ns_header div{
    background: url("../images/nsimgs/dw_ico.png") no-repeat;
    background-size: 13px;
    height: 19px;
    line-height: 19px;
    color: #5383a5;
    position: absolute;
    bottom: 10px;
    left: 18px;
    text-indent: 20px;
}
.ns_bg{
    display: block;
    width: 100%;
}
.ns_box{
    padding: 0 18px;
    margin: 15px 0;
}
.ns_box a{
    background: #ecf3f5;
    border-radius: 7px;
    margin-bottom: 18px;
    display: block;
}
.ns_box h3{
    background: #40a4ff;
    color: #fff;
    font-size: 1.6rem;
    padding: 12px 0;
    border-radius: inherit;
    text-align: center;
    font-weight: 400;
}
.ns_box a:hover h3{ background: #289ae9;}
.ns_box a ul{
    padding: 14px 3%;
    color: #9e9e9e;
    width: 94%;
}
.ns_box a li{
    line-height: 1.5;
    font-size: 1.4rem;
    background: url("../images/nsimgs/dot_ico.png") 0 8px no-repeat;
    background-size: 4px;
    padding-left: 10px;
}
.ns_box div h3{ background: #73ec82;}
.ns_rz{
    background: #ecf3f5;
    border-radius: 7px;
    height: 233px;
}
.ns_rz .ns_rz_wrapper{
    text-align: center;
    position: relative;
    padding: 14px 3%;
    width: 94%;
}
.ns_rz .ns_rz_wrapper .ns_rz_group{
    padding: 2px;
    background: #fff;
    border-radius: 7px;
    box-sizing: border-box;
    display: -webkit-box;
    margin-bottom: 10px;
    position: relative;
    z-index: 999;
}
.ns_rz .ns_rz_wrapper .ns_rz_group div{
    -webkit-box-flex: 1;
}
.ns_rz .ns_rz_wrapper .ns_rz_group input{
    border-radius: inherit;
    padding: 12px 0;
    font-size: 1.3rem;
    width: 100%;
    text-indent: 18px;
}
.ns_rz #yzm{
    padding: 11px 0;
    color: #fff;
    font-size: 1.4rem;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background: #83bfde;
    width: 81px;
}
/*.ns_rz #yzm:hover{ background: #56aee9;}*/
.ns_rz .ns_rz_wrapper .ns_login{
    padding: 12px 0;
    border-radius: 7px;
    background: #fea520;
    width: 82%;
    color: #fff;
    font-size: 1.6rem;
    position: absolute;
    top: 124px;
    left: 9%;
    z-index: 997;
    animation: drop_login 0.3s ease-in;
}
.ns_rz .ns_rz_wrapper .ns_login:hover{ background: #ed8e11;}
.ns_rz p{
    font-size: 1.3rem;
    color: #9e9e9e;
    text-align: left;
}
.ns_rz .ns_rz_wrapper .ns_shuru{
    position: absolute;
    top: 69px;
    left: 3%;
    width: 94%;
    z-index: 998;
    animation: drop_rz 0.3s ease-in;
}
.anthor button{
    color: #fff;
    font-size: 1.6rem;
    width: 100%;
    padding: 12px 0;
    border-radius: 8px;
    margin-bottom: 18px;
}
.anthor{
    padding: 76px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;

    height: 100%;
    background: rgba(255, 255, 255, 0.8);

    text-align: center;

    display: none;
}
.anthor div{
    margin: 20px 0;
    line-height: 1.5;
}
/*.anthor div p{ color: #ff6138;}*/
.anthor button{
    background: #6fccf7;
    width: 90%;
}

/* 新版南沙区无线城市-end- */
.errorMsg {
    color: #ef6456;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 30px;
    line-height: 30px;
    animation: dropDown 0.7s linear;
    z-index: 1001;
}
@-webkit-keyframes dropDown {
  0% {
    top: -30px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes drop_rz {
    0%{
        top: 14px;
        opacity: 0;
    }
    100%{
        opacity: 1;
        top: 69px;
    }
 }

@-webkit-keyframes drop_login {
    0%{
        opacity: 0;
        top: 69px;
    }
    100%{
        opacity: 1;
        top: 124px;
    }
 }
